{@com.github.phoswald.sample.sample.SampleViewModel model}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Sample Page</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="../../">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="">Sample</a>
            </li>
          </ul>
        </div>  
      </div>
    </nav>
    <div class="container">
      <h2 class="my-4">Greeting</h2>
      <div class="alert alert-success">
        {msg:greeting}, {model.username}!
      </div>
      <h2 class="my-4">Config</h2>
      <p>The current time is {model.now}.</p>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Parameter</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>app.sample.config</td>
            <td>{model.sampleConfig}</td>
          </tr>
        </tbody>
      </table>
      <h2 class="my-4">Environment Variables</h2>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Variable</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {#for e in model.env}
          <tr>
            <td>{e.key}</td>
            <td>{e.value}</td>
          </tr>
          {/for}
        </tbody>
      </table>
      <h2 class="my-4">System Properties</h2>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {#for e in model.props}
          <tr>
            <td>{e.key}</td>
            <td>{e.value}</td>
          </tr>
          {/for}
        </tbody>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
